---
import ServiceImg from "../services-image/services-image.astro";

interface Props {
style: string;
image: string ;
link: string;
imagetext: string;
service: string;
secondLine?: string
}

const {style, image, imagetext , link, service, secondLine} = Astro.props
---



<a class={style} href={link}>
    <ServiceImg path={image} width={480} height={240} alt={imagetext}/>
  <h2 class="service-text absolute top-1/2 md:bottom-12 right-12 text-lg md:text-2xl text-foreground font-bold"> 
    <span class="text-foreground font-semibold"> {secondLine && secondLine}</span>  
    {service}
      <span class="text-foreground font-semibold"> {!secondLine && "Development"}</span>
    </h2>
</a>


<style>
.service-text{
  /* From https://css.glass */
background: rgba(255, 255, 255, 0.09);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6px);
-webkit-backdrop-filter: blur(6px);
border: 1px solid rgba(255, 255, 255, 0.22);
padding: 2rem;

}
</style>